---

extends: default

ignore: |
  .gitignore
  .gitlab-ci.yml
  .ymllint.yml
  requirements.yml

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    level: error
  document-start: enable
  empty-lines:
    max: 1
    level: error
  line-length: disable
